body{
  display: block;
  justify-content: center;
}



.search {
  display: flex;
  margin: 10 px, 0;
}

.search-input{
  padding: 5px;
  width: 100%;
}

.search-btn{
  padding: 5px;
}

.pages {
  margin: 20px;
}

.page{
  border: 1px solid lightgray;
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.current-page{
  border: 2px solid lightgray;
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 700;
}
  



