body{
  display: flex;
  justify-content: center;
}

.container {
  width: 1080px;

}

.search {
  display: flex;
  margin: 10 px, 0;
}

.search-input{
  padding: 5px;
  width: 100%;
}

.search-btn{
  padding: 5px;
}
  



